*.a
*.dSYM
*.import
*.log
*.out
*.output
*.so
*.sw*
*.zhplib
*ubyte
*ubyte
*~
.env
.vscode
CMakeCache.txt
CMakeFiles
Makefile
__gen*
__pycache__
bin
build
cmake_install.cmake
data
debug
gen
include
makefile
portability
samples/rl/res
zhetapi
zhetapi-header
