*.a
*.dSYM
*.import
*.log
*.out
*.output
*.so
*.swp
*.zhplib
*ubyte
*~
.env
.vscode
CMakeCache.txt
CMakeFiles
__gen*
__pycache__
bin
build
cmake_install.cmake
data
debug
gen
makefile
portability
train*
zhetapi
zhetapi-headers
