[submodule "vendor/indicators"]
	path = vendor/indicators
	url = https://github.com/p-ranav/indicators
[submodule "vendor/jitify"]
	path = vendor/jitify
	url = https://github.com/NVIDIA/jitify
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark.git
