<title> Zhetapi - Calculate </title>

<script>
	MathJax = {
		tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']]
		}
	};
</script>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<h1 align="center" lang="latex">$\Large\mathbf{Zhetapi}$</h1>

<form method="POST" align="center">
	<input name="text">
	<input type="submit" value="Solve">
</form>

<body align="center">

	<div vertical layout align="center">

		{% if input %}
		<h2 align="center">$\large\mathbf{Result}$</h2>
		<div> ${{input}} = \mathbf{ {{out}} }$ </div>

		{% if date %}
		<canvas id="graph" width=400 height=400 style="border: 2px solid black;"></canvas>

		<script type="text/javascript" language="javascript">

			var canvas = document.getElementById("graph");

			var center = [0, 0];
			var dx = 20;
			var dy = 20;

			canvas.addEventListener("mousedown", click, false);
			canvas.addEventListener("mouseup", release, false);
			canvas.addEventListener("mousemove", drag, false);

			canvas.addEventListener("wheel", ftr);

			function ftr(event) {
				console.log("Dir: " + Math.sign(event.deltaY));
				if (event.deltaY < 0) {
					dx *= 1.5;
					dy *= 1.5;
					/* ping.open('GET', '/zin/{{graph}}/{{ftr}}/' + 200/dx);
					xhr.open('GET', '/graph/{{graph}}_' + 200/dx); */
					xhr.open('GET', '/graph/{{date}}/{{ftr}}/' + 200 / dx + '/' + center[0]);
					xhr.send();
				} else {
					dx /= 1.5;
					dy /= 1.5;
					/* ping.open('GET', '/zin/{{graph}}/{{ftr}}/' + 200/dx);
					xhr.open('GET', '/graph/{{graph}}_' + 200/dx); */
					xhr.open('GET', '/graph/{{date}}/{{ftr}}/' + 200 / dx + '/' + center[0]);
					xhr.send();
				}
			}

			var context = canvas.getContext("2d");

			context.beginPath();

			var data = new Map();

			var xhr = new XMLHttpRequest();

			var ping = new XMLHttpRequest();

			ping.onreadystatechange = function () { }

			var lines = [];
			var file;

			function init() {
				context.moveTo(0, 200 - center[1]);
				context.lineTo(400, 200 - center[1]);

				context.moveTo(200 + center[0], 0);
				context.lineTo(200 + center[0], 400);

				context.strokeStyle = "black";
				context.stroke();
			}

			xhr.onreadystatechange = function () {
				if (xhr.readyState == 4 && xhr.status == 200) {
					file = xhr.responseText;
					lines = xhr.responseText.split("\n");

					canvas.width = canvas.width;

					var i = 0;

					ppy = 200;
					lines.forEach(function (item) {
						var vals = item.split("\t");

						if (vals) {
							var x = parseFloat(vals[0]);
							var y = parseFloat(vals[1]);
							data[x] = y;

							var px = 200 + (dx * x) + center[0];
							var py = 200 - (dy * y) - center[1];

							console.log("(" + x + ", " + y + ") -> (" + px + ", " + py + ")");

							if (Math.abs(ppy - py) < 300)
								context.lineTo(px, py);
							else
								context.moveTo(px, py);
							//context.arc(px, py, 1, 0, 2 * Math.PI, false);
							context.strokeStyle = "#FF0000";
							context.stroke();

							ppy = py;
						}

					});

					init();
				}
			}

			xhr.open('GET', '/graph/{{date}}/{{ftr}}/' + 200 / dx + '/' + center[0]);
			xhr.send();

			var clicked = false;
			var start = [0, 0];

			var pdx = 0;
			var pdy = 0;

			var tdx = 0;
			var tdy = 0;

			var imageData = context.getImageData(0, 0, context.canvas.width, context.canvas.height);

			function click(event) {
				//console.log(event);
				start = [event.clientX - rect.left, event.clientY - rect.top]
				imageData = context.getImageData(0, 0, context.canvas.width, context.canvas.height);
				clicked = true;
				pdx = 0;
				pdy = 0;

				tdx = 0;
				tdy = 0;
			}

			function release(event) {
				clicked = false;


				// console.log("trsl: (%d, %d)", tdx, tdy);
				center = [center[0] + tdx, center[1] - tdy];

				xhr.open('GET', '/graph/{{date}}/{{ftr}}/' + 200 / dx + '/' + center[0]);
				xhr.send();

				console.log(center);

				canvas.style.cursor = "default";
			}

			// now clear the right-most pixels:
			//context.clearRect(context.canvas.width-1, 0, 1, context.canvas.height);

			var rect = canvas.getBoundingClientRect();

			function drag(event) {
				if (clicked) {
					canvas.style.cursor = "move";
					//context.putImageData(imageData, 0, 0);
					var x = event.clientX - rect.left;
					var y = event.clientY - rect.top;

					var dx = x - start[0];
					var dy = y - start[1];

					// console.log("dx: " + dx + ", dy: " + dy);

					// var imageData = context.getImageData(0, 0, context.canvas.width, context.canvas.height);
					/* if (dx > 0) {
						var imageData = context.getImageData(dx, 0, context.canvas.width - dx, context.canvas.height);
					} else {
						var imageData = context.getImageData(canvas.Math.abs(dx), 0, Math.abs(dx), context.canvas.height);
					} */

					// console.log(imageData);

					// context.putImageData(imageData, dx - pdx, dy - pdy);
					context.putImageData(imageData, dx, dy);

					pdx = dx;
					pdy = dy;

					tdx = dx;
					tdy = dy;

					if (tdx > 0) {
						context.clearRect(0, 0, tdx, 400);
					} else {
						context.clearRect(400 + tdx, 0, Math.abs(tdx), 400);
					}

					if (tdy > 0) {
						context.clearRect(0, 0, 400, tdy);
					} else {
						context.clearRect(0, 400 + tdy, 400, Math.abs(tdy));
					}

					// console.log("trsl: (%d, %d)", tdx, tdy);

				}
			}

		</script>

		{% endif %}

		{% endif %}

		<a href="/"><input type="submit" name="session" value="Home" style="margin-top:0.5cm;"></a>

	</div>

</body>