<title> Zhetapi </title>

<script>
	MathJax = {
	  tex: {
		inlineMath: [['$', '$'], ['\\(', '\\)']]
	  }
	};
</script>

<script id="MathJax-script" async
	  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<h1 align="center" lang="latex">$\Large\mathbb{Z}\text{H}\Pi-\mathbf{Zhetapi}$</h1>

<body>
	<div vertical layout align="center">
		
		<div>
			<a href="/calculate">
				<input type="submit" name="calculate" value="Calculate">
			</a>
		</div>

		<div>
			<a href="/session">
				<input type="submit" name="session" value="Run Session">
			</a>
		</div>

	</div>
</body>