<title> Zhetapi - Session </title>

<script>
	MathJax = {
	  tex: {
		inlineMath: [['$', '$'], ['\\(', '\\)']]
	  }
	};
</script>

<script id="MathJax-script" async
	  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<h1 align="center">$\Large\mathbf{Zhetapi}$</h1>

<form method="POST" align="center">
	<input name="text">
	<input type="submit" value="Enter">
</form>

<script type=text/javascript>
        (function() {
          $('a#test').bind('click', function() {
            $.getJSON('/clear',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<body align="center">
{% if logs %}
	<h2 align="center" lang="latex">$\large\mathbf{History}$</h2>

	<ul>
		{% for item in logs %}
		<p> ${{item}}$ </p>
		{% endfor %}
	</ul>
{% endif %}

	<a href="/"><input type="submit" name="session" value="Home" style="margin-top:0.5cm;"></a>
	<a href=# id=test><button class='btn btn-default'>Test</button></a>
</body>
