<title> Zhetapi - Session </title>

<script>
	MathJax = {
	  tex: {
		inlineMath: [['$', '$'], ['\\(', '\\)']]
	  }
	};
</script>

<script id="MathJax-script" async
	  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<h1 align="center">$\Large\mathbf{Zhetapi}$</h1>

<form method="POST" align="center">
	<input name="text">
	<input type="submit" value="Enter">
</form>

<script type=text/javascript>
        (function() {
          $('a#test').bind('click', function() {
            $.getJSON('/clear',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<body align="center">
{% if logs %}
	<h2 align="center" lang="latex">$\large\mathbf{History}$</h2>

	<ul>
		{% for item in logs %}
		<p> ${{item}}$ </p>
		<canvas id="graph" width=400 height=400></canvas>

		<script type="text/javascript" language="javascript">
			var canvas = document.getElementById("graph");

			var context = canvas.getContext("2d");

			function border(){
				context.moveTo(0, 0);
				context.lineTo(0, 400);
				context.lineTo(400, 400);
				context.lineTo(400, 0);
				context.lineTo(0, 0);

				context.moveTo(0, 200);
				context.lineTo(400, 200);

				context.strokeStyle = "black";
				context.stroke();
			}

			border();

			var data = new Map();

			var xhr = new XMLHttpRequest();
			var lines = [];
			var file;

			var id = context.getImageData(0, 0, 1, 1);
			xhr.onreadystatechange = function () {
				if (xhr.readyState == 4 && xhr.status == 200) {
					file = xhr.responseText;
					lines = xhr.responseText.split("\n");
					
					var i = 0;
					lines.forEach(function (item) {
						var vals = item.split("\t");

						if (vals) {
							var x = parseFloat(vals[0]);
							var y = parseFloat(vals[1]);
							data[x] = y;
							
							var px = 200 + 20 * x;
							var py = 200 - 20 * y;
							
							context.moveTo(px, py);
							context.arc(px, py, 0.01, 0, 2 * Math.PI, false);
      						// context.fillStyle = 'red';
							context.stroke();
      							//context.fill();
							
							console.log("(" + x + ", " + y + ")");
							console.log("\t(" + px + ", " + py + ")");
						}
						
					});
				}
			}

			xhr.open('GET', 'data/graph');
			xhr.send();
		</script>
		{% endfor %}
	</ul>
{% endif %}

	<a href="/"><input type="submit" name="session" value="Home" style="margin-top:0.5cm;"></a>
	<a href=# id=test><button class='btn btn-default'>Test</button></a>
</body>
